{% extends 'profile_app/index.html' %}
{% load static %}
{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-4 item social"><a href="https://www.facebook.com/AnthonyPaulTorres"
                                                               target="_blank" data-bs-hover-animate="pulse"><i
                        class="icon ion-social-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/anthonypaultorres/" target="_blank"
                       data-bs-hover-animate="pulse"><i class="icon ion-social-linkedin"></i></a><a
                            href="https://github.com/tp00012x" target="_blank" data-bs-hover-animate="pulse"><i
                            class="icon ion-social-github"></i></a><a href="#" data-bs-hover-animate="pulse"><i
                            class="icon ion-ios-email"></i></a></div>
            </div>
            <p>Anthony Paul's Website© 2019</p>
        </div>
    </footer>
{% endblock %}
