.p-75 {
  padding: 0.75rem !important;
}

.mr-75 {
  margin-right: 0.75rem !important;
}

.ml-75 {
  margin-left: 0.75rem !important;
}

.mr-5 {
  margin-right: 0.5rem !important;
}

.ml-5 {
  margin-left: 0.5rem !important;
}
