<footer>
    <div class="content">
        <div class="top">
            <a target="_blank" href="https://www.instagram.com/_anthony.paul/"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://twitter.com/AnthonyPaulTorr"><i class="fab fa-twitter"></i></a>
            <a target="_blank" href="https://github.com/tp00012x"><i class="fab fa-github"></i></a>
            <a target="_blank" href="https://www.facebook.com/AnthonyPaulTorres"><i class="fab fa-facebook"></i></a>
        </div>
        <div class="bottom-container">
            <a class="mr-5">created by</a>
            <a class="mr-5 footer-name" target="_blank" href="https://youtu.be/5LlQNty_C8s?t=6">Anthony</a>
            <a>and</a>
            <a class="p-75" target="_blank" href="https://www.youtube.com/watch?v=hY7m5jjJ9mM">
                <div class="cat">
                    <div class="ear ear--left"></div>
                    <div class="ear ear--right"></div>
                    <div class="face">
                        <div class="eye eye--left"><div class="eye-pupil"></div></div>
                        <div class="eye eye--right"><div class="eye-pupil"></div></div>
                        <div class="muzzle"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</footer>
