.main-content {
    flex: 1;
}

.main-content img {
    float: left;
    shape-outside: circle();
    max-width: 500px;
    max-height: 500px;
}

.main-content p {
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    .main-content img {
        float: none;
        max-width: 400px;
        max-height: 400px;
    }

}
